@model IEnumerable<Smart_Dairy_Manager.Data_model.FeedManagement>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-12">
            <h2 class="mb-4 text-center">Food List</h2>


            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered">
                    <thead class="thead-dark">
                        <tr class="text-center">

                            <th scope="col">Food id</th>
                            <th scope="col">Food Type</th>
                            <th scope="col">Feeding Time</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Food Report</th>
                            <th scope="col">Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr class="text-center align-middle">

                                <th>@item.FeedMGId</th>
                                <th>@item.FoodType</th>
                                <td>@item.FeedingTime</td>
                                <td>@item.Quantity</td>
                                <td>@item.FoodReports</td>

                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.FeedMGId" class="btn btn-sm btn-warning me-1">
                                        <i class="fas fa-edit"></i> Edit
                                    </a>
                                    <a class="btn btn-sm btn-danger btn_dlt" data-id="@item.FeedMGId">
                                        <i class="fas fa-trash-alt"></i> Delete
                                    </a>
                                    <a asp-action="Details" asp-route-id="@item.FeedMGId" class="btn btn-sm btn btn-success">
                                        <i class="fas fa-trash-alt"></i> Details
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

 @section Scripts {
<script>
    $(document).on('click', '.btn_dlt', function () {

        var foodid = $(this).data('id');

        var row = $(this).closest('tr');

        Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it!"
        }).then((result) => {
            if (result.isConfirmed) {

                $.ajax({
                        url: '/FeedManagement/Delete/' + foodid,
                    type: 'POST',
                    success: function (res) {

                        // fix: delete row only if success
                        row.remove();

                        Swal.fire({
                            title: "Deleted!",
                            text: "Your file has been deleted.",
                            icon: "success"
                        });
                    },
                    error: function () {
                        Swal.fire({
                            title: "Error!",
                            text: "Something went wrong!",
                            icon: "error"
                        });
                    }
                });
            }
        });
    });
</script>

} 


@*  <script>
        $(document).ready(function(){
            $('').click(
                function(){

                }
            )
        });
    </script> *@