@model Smart_Dairy_Manager.Data_model.MilkCollection
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<table class="table">
    <thead>
        <tr>
        <tr>
            <th scope="col">CowId</th>
            <td>@Model.CowId</td>

        </tr>
        <tr>
            <th scope="col">Date</th>
            <td>@Model.Date</td>

        </tr>
        <tr>
            <th scope="col">MorningYield</th>
            <td>@Model.MorningYield</td>

        </tr>
        <tr>
            <th scope="col">EveningYield</th>
            <td>@Model.EveningYield</td>

        </tr>
        <tr>

            <th scope="col">TotalYield</th>
            <td>@Model.TotalYield</td>

        </tr>




        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>